In [34]:
import pandas as pd
import scipy.stats as st
import numpy as np

## Chapter 12 Exercise 1 p.276  (From Geraghty pdf)

In [35]:
SSt=9000
SSf=7000
SSe=SSt-SSf
n=5*3
k=3
df_f= k-1
df_t= n-1
df_e= n-k
MS_f=SSf/df_f
MS_e=SSe/df_e
F=MS_f/MS_e
alpha = 0.05
Fcrit = st.f.ppf(1-alpha,df_f,df_e)
print(f"SS error= {SSe}")
print(f"df factoriel = {df_f}   df total = {df_t}   df error = {df_e}")
print(f"mean square factoriel ={MS_f}   mean square error = {MS_e:.4f}")
print(f"F statistic = {F}")
print(f"Critical value of F = {Fcrit:.4f}")
if F < Fcrit:
    print("Do not reject H0")
else:
    print("Reject H0")

SS error= 2000
df factoriel = 2   df total = 14   df error = 12
mean square factoriel =3500.0   mean square error = 166.6667
F statistic = 21.0
Critical value of F = 3.8853
Reject H0

## Chapter 12 Exercise 2 p.276

In [36]:
df = pd.DataFrame({"North":[13,9,10,13,27,13,9,32],"South":[91,45,28,17,89,36,23,66],"East":[41,30,60,34,47,13,19,36],"Pen":[17,16,13,26,7,9,21,18]})

df

   North  South  East  Pen
0     13     91    41   17
1      9     45    30   16
2     10     28    60   13
3     13     17    34   26
4     27     89    47    7
5     13     36    13    9
6      9     23    19   21
7     32     66    36   18

In [37]:
#Levels
k = 4
#valid data count (not-nans)
n = df.count()
#averages
xm = df.mean()
#variances
xvar = df.var()
#Square of values
sumOfSquares=np.zeros(3,)
for (index,col) in enumerate(df):
    df[col+'**2'] = df[col]**2

df

   North  South  East  Pen  North**2  South**2  East**2  Pen**2
0     13     91    41   17       169      8281     1681     289
1      9     45    30   16        81      2025      900     256
2     10     28    60   13       100       784     3600     169
3     13     17    34   26       169       289     1156     676
4     27     89    47    7       729      7921     2209      49
5     13     36    13    9       169      1296      169      81
6      9     23    19   21        81       529      361     441
7     32     66    36   18      1024      4356     1296     324

In [38]:
n = df.count()

sumSquaredMean=(df["North"].sum() + df["South"].sum() + df["East"].sum()+df["Pen"].sum() )**2/(n[0]+n[1]+n[2]+n[3])
sumOfSquares = (df["North**2"].sum() + df["South**2"].sum() + df["East**2"].sum()+df["Pen**2"].sum())

SSTotal = sumOfSquares - sumSquaredMean

In [39]:
n = df.count()
s1=(df["North"].sum())**2/n[0]
s2=(df["South"].sum())**2/n[1]
s3=(df["East"].sum())**2/n[2]
s4=(df["Pen"].sum())**2/n[3]
SSFactor = s1+s2+s3+s4 - sumSquaredMean

In [40]:
df_e=n[0] + n[1] + n[2] +n[3] - k
df_t=n[0] + n[1] + n[2] +n[3] -1
df_f= k-1
SSError = SSTotal - SSFactor
MSFactor = SSFactor/df_f
MSError = SSError/df_e
F_statistic = MSFactor/MSError

In [41]:
p = st.f.sf(F_statistic, df_f, df_e)

In [43]:
print(f"DFFactor = {df_f:.0f}")
print(f"DFError = {df_e:.0f}")
print(f"DFTotal = {df_t:.0f}")
print()

print(f"SSFactor = {SSFactor:.0f}")
print(f"SSError = {SSError:.0f}")
print(f"SSTotal = {SSTotal:.0f}")
print()
print(f"MSFactor = {MSFactor:.0f}")
print(f"MSError = {MSError:.0f}")
print()
print(f"F = {F_statistic:.02f}")
print()
print(f"p = {p:.3f}")

DFFactor = 3
DFError = 28
DFTotal = 31

SSFactor = 6392
SSError = 8356
SSTotal = 14748

MSFactor = 2131
MSError = 298

F = 7.14

p = 0.001

In [51]:
alpha = 0.05
Fcrit = st.f.ppf(1-alpha,df_f, df_e )
if F_statistic < Fcrit:
    print("Do not reject H0")
    print("a- means that all regions haven't same mean commute time at a significance level of 5%")
else:
    print("Reject H0 ")
    print("a- means that all regions have the same mean commute time at a significance level of 5%")

Reject H0
a- means that all regions have the same mean commute time at a significance level of 5%

In [53]:
groupNorth = df["North"].dropna().to_numpy()
groupSouth = df["South"].dropna().to_numpy()
groupEast = df["East"].dropna().to_numpy()
groupPen = df["Pen"].dropna().to_numpy()

In [54]:
res = st.tukey_hsd(groupNorth,groupSouth,groupEast,groupPen)
print(res)

Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)    -33.625     0.003   -57.209   -10.041
 (0 - 2)    -19.250     0.140   -42.834     4.334
 (0 - 3)     -0.125     1.000   -23.709    23.459
 (1 - 0)     33.625     0.003    10.041    57.209
 (1 - 2)     14.375     0.361    -9.209    37.959
 (1 - 3)     33.500     0.003     9.916    57.084
 (2 - 0)     19.250     0.140    -4.334    42.834
 (2 - 1)    -14.375     0.361   -37.959     9.209
 (2 - 3)     19.125     0.144    -4.459    42.709
 (3 - 0)      0.125     1.000   -23.459    23.709
 (3 - 1)    -33.500     0.003   -57.084    -9.916
 (3 - 2)    -19.125     0.144   -42.709     4.459